<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>G2G:About us</title>
    <link rel="stylesheet" href="{% static '/css/about_us.css' %}" >
</head>
<body>
<div class="about-section">
    <h2>OUR MOTTO: FRESH AND FAST</h2>
    <p>
        Warm welcome to all our Customers!!!!
        <br> <br>With a small team of members, we strive hard to provide the greatest online shopping experience.
        <br>We directly procure the items from farmers and make it available to the common public.
        <br>Hence our products will be more cheaper and fresher compared to the other shopping platforms.
        <br> Finally the dedicated team works 24x7 to make sure the customers are satified and remain healthy.
    </p>
    <a href="/" style="" class="link">Go To Home</a>
</div>
<h2 style="text-align:center">Our Team Members</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="{% static '/images/user.jpeg' %}" alt="" style="width:100%">
            <div class="container">
                <h2>Raja Vamsi Chekuri</h2>
                <p class="title">Coding and github management</p>
                <p>Department (College Name) <br> specialization: Frontend  </p>
                <p>EMail Id</p>
                <a href="#" target="_blank">
                    <p><button class="button" >Contact</button></p>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="{% static '/images/user.jpeg' %}" alt="varsh" style="width:100%">
            <div class="container">
                <h2>Varshini Yenjarlapati</h2>
                <p class="title">Coding and Github management (Member)</p>
                <p>Department, Colllege <br> specialization: Backend </p>
                <p>email id</p>
                <a href="#" target="_blank">
                    <p><button class="button" >Contact</button></p>
                </a>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="{% static '/images/user.jpeg' %}" alt="navya" style="width:100%">
            <div class="container">
                <h2>Navya Immadi</h2>
                <p class="title">Github and documentation (Member)</p>
                <p>Department, Colllege <br> specialization: Backend</p>
                <p>email id</p>
                <a href="#" target="_blank">
                    <p><button class="button" >Contact</button></p>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>